<footer class="text-center" style="background-color: #E3EBD0" id="footer">
  <!-- Grid container -->
  <div class="container pt-5">
    <!-- Section: Social media -->
    <section class="mb-5">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.facebook.com/"
        role="button"
        target="blank"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f fa-2x"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://x.com/?lang=fr"
        target="blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.instagram.com/"
        target="blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>

      <!-- Youtube -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.youtube.com/"
        target="blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-youtube fa-2x"></i></a>
      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: #E3EBD0">
    © 2024 Copyright : Site réalisé par Alicia Heraud
  </div>
  <!-- Copyright -->
</footer>